body {
    font-family: Arial, Verdana, Tahoma, Trebuchet MS;
}
ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    width: 25vw;
}

.header, .main-title {                      /*padding will be same for the footer later with different bg color*/
    padding: 10px 200px 10px 200px;
}

.header,
.main-title {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 30vw;
}

.info-container, .quote-container {
    padding: 50px 350px 50px 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote-container {
    background-color: #e5e7eb;
}

.info-container {
    padding-top: 0px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 200;
}

.sayer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 700;
}

.members {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.member {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 200px;
    height: auto;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    margin: 50px;
}

p {
    margin: 5px 0px 15px 0px;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    width: 100px;
    padding: 5px;
}


